<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Decap CMS Integration</title>
  </head>
  <body>
    <div class="center">
      <h1><a href="https://github.com/dorukgezici/astro-decap-cms-oauth">astro-decap-cms-oauth-demo</a></h1>
      <p>
        Astro integration for the <a href="https://decapcms.org" target="_blank">Decap CMS</a> with custom OAuth backend
      </p>
      <p>Go to <a href="/admin">/admin</a> to see the dashboard</p>
      <br />
    </div>

    <p class="text-center">
      <a href="https://npmjs.com/package/astro-decap-cms-oauth">
        <img src="https://img.shields.io/npm/v/astro-decap-cms-oauth" alt="astro-decap-cms-oauth" />
      </a>
      <a href="https://npmjs.com/package/astro-decap-cms-oauth">
        <img src="https://img.shields.io/npm/dt/astro-decap-cms-oauth" alt="npm download count" />
      </a>
    </p>
  </body>
</html>

<style>
  .center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .text-center {
    text-align: center;
  }
</style>
