<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Decap CMS Integration</title>
  </head>
  <body>
    <h1>Astro Decap CMS Integration Demo</h1>
    <a href="/admin">Go to /admin</a>
  </body>
</html>
