---
import { PUBLIC_DECAP_CMS_VERSION, PUBLIC_DECAP_CMS_SRC_URL } from "astro:env/client";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
        <title>Content Manager</title>
    </head>
    <body>
        <!-- Include the script that builds the page and powers Decap CMS -->
        <script is:inline src={PUBLIC_DECAP_CMS_SRC_URL ? PUBLIC_DECAP_CMS_SRC_URL : `https://unpkg.com/decap-cms@^${PUBLIC_DECAP_CMS_VERSION}/dist/decap-cms.js`}></script>
    </body>
</html>
